* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #080c14;
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  background-color: #080c14;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #080c14;
}

::-webkit-scrollbar-thumb {
  background: #ffffff15;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff25;
}